p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-bottom: 100px;
	color: #4aaaa5;
}

/* media query for nav background color change*/
@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 500px) {
	#profilePic {
		width: 200px;
		height: 200px;
	}
}

#logo {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	/* Visual */
	background: #4aaaa5;
}

#profilePic {
	float: left;
	width: 200px;
	margin: 0 20px 10px 0;
}

html,
body {
	width: 100%;
	overflow: contain;
	position: relative;
}

.footer {
	position: static;
	bottom: 0;
	border-top: #4aaaa5 10px solid;
	margin-top: 15px;
	left: 0;
	background-color: #343b3f;
	width: 100%;
	height: 70px;
	text-align: center;
	color: #8ea1a1;
}
